<div id="newResourceModal" class="cms-lite modal fade" tabindex="-1" role="dialog" aria-labelledby="newResourceLabel"
     aria-hidden="true" clear-form="newResourceForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="newResourceLabel">{{msg('cmslite.header.addNewResource')}}</h4>
            </div>
            <div class="modal-body">
                <form id="newResourceForm" name="newResourceForm" class="form-horizontal"
                      action="../cmsliteapi/resource" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">{{msg('cmslite.resource.name')}}</label>

                        <div class="col-sm-9 form-inline">
                            <input type="text" id="name" name="name" cms-lite-auto-complete="name"
                                   class="form-control input-xlarge-fluid"/>
                            <span class="form-hint" style="display: none;">{{msg('cmslite.error.required.name')}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"
                               for="language">{{msg('cmslite.resource.language')}}</label>

                        <div class="col-sm-9 form-inline">
                            <input type="text" id="language" name="language" cms-lite-auto-complete="language"
                                   class="form-control input-xlarge-fluid"/>
                            <span class="form-hint"
                                  style="display: none;">{{msg('cmslite.error.required.language')}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{msg('cmslite.resource.type')}}</label>

                        <div class="col-sm-9">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{msg('cmslite.resource.type.' + resourceType)}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="pointer" ng-click="changeResourceType('string')">{{msg('cmslite.resource.type.string')}}</a>
                                    </li>
                                    <li><a class="pointer" ng-click="changeResourceType('stream')">{{msg('cmslite.resource.type.stream')}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ui-if="resourceType == 'string'">
                        <div class="col-sm-offset-3 col-sm-9 form-inline">
                            <textarea rows="4" id="value" name="value" ng-model="select.value"
                                      class="form-control input-xlarge-fluid"></textarea>
                            <span class="form-hint"
                                  style="display: none;">{{msg('cmslite.error.required.string')}}</span>
                            <p class="count-characters">{{msg('cmslite.info.characters')}}: {{select.value.length}}</p>
                        </div>
                    </div>
                    <div class="form-group form-inline fileinput fileinput-new" ui-if="resourceType == 'stream'"
                         data-provides="fileinput">
                        <label class="col-sm-3 control-label">{{msg('cmslite.info.fileChosen')}}</label>

                        <div class="col-sm-9">
                            <div motech-file-upload-cms></div>
                        </div>
                    </div>
                    <input type="hidden" id="type" name="type" value="{{resourceType}}">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="saveNewResource()">
                    {{msg('cmslite.button.save')}}
                </button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                    {{msg('cmslite.button.close')}}
                </button>
            </div>
        </div>
    </div>
</div>
