<div ng-controller="CommcareBaseCtrl">
    <div id="inner-center" class="commcare inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
        <div class="header-footer-breadcrumb">
            <ul class="breadcrumb" role="navigation">
                <li><a role="menu" href=".">{{msg('server.home')}}</a></li>
                <li><a role="menu" href="#/settings">{{msg('commcare')}}</a></li>
                <li ng-show="selectedTabState.selectedTab === 'settings'" ng-class="{'active': selectedTabState.selectedTab === 'settings'}">{{msg('commcare.tab.settings')}}</li>
                <li ng-show="selectedTabState.selectedTab === 'import'" ng-class="{'active': selectedTabState.selectedTab === 'import'}">{{msg('commcare.tab.import')}}</li>
                <li ng-show="selectedTabState.selectedTab === 'forms'" ng-class="{'active': selectedTabState.selectedTab === 'forms'}">{{msg('commcare.tab.forms')}}</li>
                <li ng-show="selectedTabState.selectedTab === 'cases'" ng-class="{'active': selectedTabState.selectedTab === 'cases'}">{{msg('commcare.tab.cases')}}</li>
            </ul>
        </div>
        <div class="header-footer">
            <ul id="content-tabs" class="nav nav-tabs">
                <li ng-class="{'active': selectedTabState.selectedTab === 'settings'}" ng-click="selectedTabState.selectedTab = 'settings'"><a href="#/commcare/settings">{{msg('commcare.tab.settings')}}</a></li>
                <li ng-class="{'active': selectedTabState.selectedTab === 'import'}" ng-click="selectedTabState.selectedTab = 'import'"><a href="#/commcare/import">{{msg('commcare.tab.forms')}}</a></li>
                <li ng-class="{'active': selectedTabState.selectedTab === 'forms'}" ng-click="selectedTabState.selectedTab = 'forms'"><a href="#/commcare/forms">{{msg('commcare.tab.forms')}}</a></li>
                <li ng-class="{'active': selectedTabState.selectedTab === 'cases'}" ng-click="selectedTabState.selectedTab = 'cases'"><a href="#/commcare/cases">{{msg('commcare.tab.cases')}}</a></li>
            </ul>
        </div>
        <div class="ui-layout-content">
            <div class="tab-content" id="tab-content">
                <div id="main-content" class="active">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>

    <div id="inner-east" class="commcare inner-east ui-layout-pane ui-layout-pane-east">
        <div class="header-toolbar header-footer"></div>
        <!------------------------  Filters  ------------------------>
        <div class="filter-header">{{msg('commcare.filters')}}</div>
        <div class="ui-layout-content">
            <div class="inside">
                <fieldset class="inside">
                    <legend>{{msg('commcare.caseName')}}</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm search-query"
                                   placeholder="{{msg('commcare.searchByName')}}" data-event-type="click"
                                   data-search-field="caseName" commcare-case-jqgrid-search="case-table">
                            <span class="input-group-btn">
                                <button id="search-case" class="btn btn-default btn-sm" type="button">{{msg('commcare.search')}}</button>
                            </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="inside">
                    <legend>{{msg('commcare.dateModifiedRange')}}</legend>
                    <div class="form-group">
                        <input id="commcareDateFrom" commcare-grid-date-picker="" type="datetime" class="form-control input-sm search-query"
                               placeholder="{{msg('commcare.from')}}" data-event-type="change" data-search-field="dateModifiedStart" commcare-case-jqgrid-search="case-table">
                    </div>
                    <div class="form-group">
                        <input id="commcareDateTo" commcare-grid-date-picker="" type="datetime" class="form-control input-sm search-query"
                               placeholder="{{msg('commcare.to')}}" data-event-type="change" data-search-field="dateModifiedEnd" commcare-case-jqgrid-search="case-table">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>