.idea/
*.iml
target/
.DS_Store
where JOB_NAME LIKE '%repeat%dea/
*.iml
*.ipr
*.iws
*.log*
motech-bulk-export-import/SampleData-report.csv
motech-bulk-export-import/report_file
*~
*#
.classpath
.project
.settings/
.externalToolBuilders/
maven-eclipse.xml
*.class
Motech.log*
debug.txt
out/
Error_log/
test-output/
felix-cache/
activemq-data/
tools/SMPPSim/
*.tmp
docs/build
docs/env
docs/source/packages.rst
docs/source/org
.tx/config
