.commcare.nav.nav-tabs {
    border-bottom: medium none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

.commcare .form-actions {
    background: none;
    border-top: none;
}

.commcare .tooltip {
    width: 400px;
}
.commcare .tooltip .tooltip-inner {
    max-width: 400px;
    font-size: 14px;
}

.commcare .form-schema-group {
    margin-bottom: 20px;
}

.commcare .form-schema-group button {
    float: right;
}

.commcare .case-schema-group button {
    float: right;
}

.commcare .permission-present {
    color: #386339;
}

.commcare .permission-absent{
    color: #CF2A27;
}
.commcare .connection-status {
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
}

.commcare .connection-error {
    background-color: #EA9999;
    border: 1px solid #CF2A27;
}

.message
{
    margin-bottom: 40px;
}

.form-hints {
    position: absolute;
    float: left;
    display: inline-block;
    margin-left: 8px;
    margin-right: 5%;
}

.largeCombobox {
    min-width: 170px;
    max-width: 170px;
}

.form-hint-error:before {
    color: #d45252;
    content: "\25C0";
    left: -6px;
    position: absolute;
}

.form-hint-success:before {
    color: #21c145;
    content: "\25C0";
    left: -6px;
    position: absolute;
}

.form-hint-error {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 999;
    font-size: 11px;
    position: relative;
}

.form-hint-error-bottom {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    display: block;
    margin-top: -8px;
    margin-right: 27px;
    padding: 2px 6px;
    z-index: 999;
    font-size: 13px;
    width:300px;
    word-wrap:break-word;
    position: relative;
}

.form-hint-error-bottom:before {
    content: "\25b2";
    color: #d45252;
    position: absolute;
    left: 15px;
    top: -11px;
}

.form-hint-warning {
    background: #edaa4a;
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 999;
    font-size: 11px;
    position: relative;
}

.form-hint-success {
    background: #21c145;
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 999;
    font-size: 11px;
    position: relative;
}

.modal.fade {
  min-width: 700px;
  width: auto;
}

.popover {
    min-width: 340px;
}

.commcare td.question {
    max-width: 200px;
    padding: 15px;
}

.commcare .table > thead > tr > th, .commcare .table > tbody > tr > th {
    max-width: 330px;
    padding: 15px;
}

.commcare.modal p {
    margin: 15px;
}

td.questionData .table {
    margin-bottom: 0;
}

.commcare.modal .modal-body.clear {
    padding: 0;
}

.commcare.modal .modal-body pre {
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    margin: 0;
}

.commcare.modal .modal-footer {
    margin-top: 0;
}

.commcare.modal h4 em {
    font-weight: normal;
    font-style: normal;
}

.commcare.modal .form-list-inline {
    display: inline-block;
    min-height: 26px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 7px;
}

.commcare.modal .list-lightblue > div {
    background-color: #E4F1F9;
    border: 1px solid #D1E6F9;
    border-top: none;
    padding-bottom: 7px;
}

.commcare.modal .list-lightblue > div:nth-child(2n+1) {
    background: #F3FBFE;
}

.commcare.modal .list-lightblue > div:last-child {
    border-bottom: none;
}

.module-header {
    font-weight: bold;
    border-radius: 2px;
    padding: 4px 15px;
    line-height: 28px;
    color: #224477;
    background: #D9EDF7;
    background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
    background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
    background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
}

.module-header a, .module-header a:hover, .module-header  a:link, .module-header a:active {
    text-decoration: none;
    color: #224477;
}

.report-schema .report-schema-group {
    padding: 1px 7px 1px 15px;
    line-height: 32px;
    color: #005580;
    background-color: #E4F1F9;
    border: 1px solid #D1E6F9;
    border-top: none;
}

.report-schema .report-columns{
    padding-bottom: 12px;
}

.report-schema .report-column{
    padding: 6px 20px;
}

.report-schema .report-column button {
    float: right;
}

.report-schema .report-filters{
    padding-bottom: 12px;
}

.report-schema .report-filters button{
    float: right;
}

.report .modal-dialog .modal-content .modal-body p{
    font-weight: bold;
    margin-left: 3px;
}

.report .modal-dialog .modal-content .modal-body{
    padding: 15px;
}



.case-schema .case-schema-group {
    padding: 1px 7px 1px 15px;
    height: 37px;
    line-height: 32px;
    color: #005580;
    background-color: #E4F1F9;
    border: 1px solid #D1E6F9;
    border-top: none;
}

.case-schema .case-schema-group:first-child {
    border: 1px solid #D1E6F9;
}

.case-schema > .case-schema-group:hover, .case-schema > div.case-schema-group:nth-child(2n+1):hover {
    background-color: #e9e9e9;
    background: #EDF5F9;
    color: #224477;
}

.case-schema > div.case-schema-group:nth-child(2n+1) {
    background: #F3FBFE;
}

.ui-datepicker.ui-widget {
    font-size: 0.9em;
}