.csd .panel-default > .panel-heading {
     border: 0 none;
     line-height: 28px;
     padding: 4px 10px;
 }

.csd .panel-inner {
    padding: 0px;
}

.csd input.ng-invalid:focus {
    color: #B94A48 !important;
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}
