.csd .panel-default > .panel-heading {
     border: 0 none;
     line-height: 28px;
     padding: 4px 10px;
     background: #D9EDF7;
     background: -moz-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9EDF7), color-stop(100%,#B9DEF0));
     background: -webkit-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
     background: -o-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
     background: -ms-linear-gradient(top,  #D9EDF7 0%, #B9DEF0 100%);
     background: linear-gradient(to bottom,  #D9EDF7 0%, #B9DEF0 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9EDF7', endColorstr='#B9DEF0',GradientType=0 );
 }

.csd .panel {
     margin: 2px 0 0;
     border: 1px solid #D1E6F9;
     background-color: #F6FBFF;
 }

.csd .panel-heading:hover, .sms .panel-toggle:hover {
    text-decoration: none;
}

.csd .panel-heading {
    cursor: pointer;
}

.csd .panel-inner {
    padding: 0px;
}

.csd input.ng-invalid:focus {
    color: #B94A48 !important;
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}
