.form-def-row {
    padding: 1px 7px 1px 18px;
    height: 37px;
    line-height: 32px;
    border-top: none;
}

.modal.modal-wide .modal-dialog {
    width: 80%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.form-hint-error {
    background: #d45252;
    border-radius: 3px;
    color: #ffffff;
    padding: 4px 6px;
    z-index: 999;
    font-size: 11px;
    position: relative;
}