<div class="row">
    <h4 class="frame-title">{{msg('csd.web.settings.title')}}</h4>
    <div class="inside">

        <div ng-repeat="error in errors" class="alert alert-danger alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
        <div ng-repeat="message in messages" class="alert alert-success alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>

        <form name="form" class="form-horizontal inside" novalidate>

            <div class="form-group">
                <label class="col-md-2 control-label" for="xmlUrl">{{msg('csd.web.settings.xmlUrl')}}</label>
                <div class="col-md-10" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('csd.web.settings.xmlUrl.tooltip')}}">
                    <input class="form-control" id="xmlUrl" type="text" ng-model="config.xmlUrl" required>
                </div>
            </div>

            <div class="row">
                <div class="panel-grouppanel-group">
                    <div class="panel panel-default csd-config">

                        <div class="form-group margin-before2">
                            <label class="col-md-2 control-label" for="schedulerEnabled">{{msg('csd.web.settings.schedulerEnabled')}}</label>
                            <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('csd.web.settings.schedulerEnabled.tooltip')}}">
                                <label>
                                    <input type="checkbox" id="schedulerEnabled" ng-model="config.schedulerEnabled"/>
                                </label>
                            </div>
                        </div>

                        <div class="form-group" ng-show="config.schedulerEnabled">
                            <label class="col-md-2 control-label" for="periodDays">{{msg('csd.web.settings.periodDays')}}</label>
                            <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('csd.web.settings.periodDays.tooltip')}}">
                                <input class="form-control" id="periodDays" ng-pattern="/^[0-9]+$/" type="text" ng-model="config.periodDays" required>
                            </div>
                        </div>

                        <div class="form-group" ng-show="config.schedulerEnabled">
                            <label class="col-md-2 control-label" for="periodHours">{{msg('csd.web.settings.periodHours')}}</label>
                            <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('csd.web.settings.periodHours.tooltip')}}">
                                <input class="form-control" id="periodHours" ng-pattern="/^[0-9]+$/" type="text" ng-model="config.periodHours" required>
                            </div>
                        </div>

                        <div class="form-group" ng-show="config.schedulerEnabled">
                            <label class="col-md-2 control-label" for="periodMinutes">{{msg('csd.web.settings.periodMinutes')}}</label>
                            <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('csd.web.settings.periodMinutes.tooltip')}}">
                                <input class="form-control" id="periodMinutes" ng-pattern="/^[0-9]+$/" type="text" ng-model="config.periodMinutes" required>
                            </div>
                        </div>

                    </div>
                    <div>&nbsp;</div>
                    <div class="form-inline">
                        <button class="btn btn-default" ng-click="reset()">{{msg('csd.web.settings.cancel')}}</button>
                        <button class="btn btn-primary" ng-disabled="!form.$valid" ng-click="submit()">{{msg('csd.web.settings.save')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
