@import url("style.min.css");

.buttons {
    padding-bottom: 10px;
    max-width: 560px;
    width: auto;
}

div.buttons > button {
    width:170px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline; !important
}

.select-buttons {
   padding-bottom: 10px;
   max-width: 380px;
   width: auto;
}

div.select-buttons > select {
    width:170px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline; !important
}

div.select-buttons > button {
    width:170px;
    margin-top: 0px; !important
    margin-left: 10px; !important
    display: inline; !important
}

.costam {
    margin-left: 10px; !important
}

.table-lightblue-nohover {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.table-lightblue-nohover  tbody tr:nth-child(2n+1) td {
    background: #F3FBFE;
}

.draggable > * {
    margin-left: 10px;
}

.draggable i {
    margin-right: 5px;
}

.ui-jqgrid-labels {
    height: 50px;
}

li[state="Inactive"] > a {
    color: #C0C0C0 !important;
}

li[state="Pending"] > a {
    color: #F0AD4E !important;
}

.members-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.members-list li[state="Pending"] {
    color: #F0AD4E !important;
}

.members-list li[state="Inactive"] {
    color: #C0C0C0 !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    table-layout: auto;
}
