@import url("style.min.css");

.mtraining .buttons {
    padding-bottom: 10px;
    max-width: 560px;
    width: auto;
}

.mtraining div.buttons > button {
    width:170px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline; !important
}

.mtraining .select-buttons {
   padding-bottom: 10px;
   max-width: 380px;
   width: auto;
}

.mtraining div.select-buttons > select {
    width:170px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline; !important
}

.mtraining div.select-buttons > button {
    width:170px;
    margin-top: 0px; !important
    margin-left: 10px; !important
    display: inline; !important
}

.mtraining .pathButton {
    margin-left: 10px; !important
}

.mtraining .table-lightblue-nohover {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.mtraining .table-lightblue-nohover  tbody tr:nth-child(2n+1) td {
    background: #F3FBFE;
}

.mtraining .draggable > * {
    margin-left: 10px;
}

.mtraining .draggable i {
    margin-right: 5px;
}

.mtraining .mtraining-labels {
    height: 50px !important;
}

.mtraining li[state="Inactive"] > a {
    color: #C0C0C0 !important;
}

.mtraining li[state="Pending"] > a {
    color: #F0AD4E !important;
}

.mtraining .members-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mtraining .members-list li[state="Pending"] {
    color: #F0AD4E !important;
}

.mtraining .members-list li[state="Inactive"] {
    color: #C0C0C0 !important;
}

.mtraining .mtraining-table {
    table-layout: auto !important;
}
