<div ng-controller="MCCampaignsCtrl" class="row">
    <h4 class="frame-title">{{ msg('msgCampaign.messageCampaigns')}}</h4>
    <div id="error-message" ng-if="error" class="inside">
        <div class="alert alert-danger">
            <span class="fa fw fa-warning"></span>
            <span class="margin-left1">{{error}}</span>
        </div>
    </div>
    <table ng-if="!error" class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('msgCampaign.campaign.Name')}}</th>
            <th>{{msg('msgCampaign.campaign.type')}}</th>
            <th>{{msg('msgCampaign.actions')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="campaign in campaigns">
            <td><a ui-sref="messageCampaign.enrollments({ campaignName: {{campaign.name}} })">{{campaign.name}}</a></td>
            <td>{{campaign.type}}</td>
            <td>
                <div class="col-md-1">
                    <a ng-click="editCampaign(campaign.name)">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <div class="col-md-1">
                    <a ng-click="deleteCampaign(campaign.name)">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
