<!------------------------  Settings  ------------------------------------->
<div class="row margin-after">
    <h4 class="frame-title">{{msg('msgCampaign.settings.title')}}</h4>
    <div class="col-lg-9 col-md-12 col-sm-12">
    <form action="../messagecampaign/settings/" id="messageCampaignSettingsForm" name="messageCampaignSettingsForm"
          class="form-horizontal margin-before2" method="post" enctype="multipart/form-data" novalidate>
        <div class="form-group fileiput fileinput-new" data-provides="fileinput">
            <label class="col-md-2 col-sm-3 control-label">{{msg('msgCampaign.settings.fileChosen')}}</label>
            <div class="col-md-8 col-sm-7 form-inline">
                <div motech-file-upload-message-campaign accept="&#46;json"></div>
                <span class="form-hint fileinput-new">{{msg('msgCampaign.settings.messageCampaignsHint')}}</span>
            </div>
            <div class="col-md-offset-2 col-sm-offset-3 col-md-8 col-sm-7">
                <input ng-click="uploadSettings()" type="button" value="{{msg('msgCampaign.settings.submit')}}" class="btn btn-primary fileinput-exists">
            </div>
        </div>
    </form>
    </div>
</div>
