<div id="inner-center" class="dhis2 inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" ui-sref="home">{{msg('server.home')}}</a></li>
            <li><a role="menu" ui-sref="dhis2.settings">{{msg('dhis2.settings')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'settings'" ng-class="{'active': selectedTabState.selectedTab === 'settings'}">{{msg('dhis2.settings')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'programs'" ng-class="{'active': selectedTabState.selectedTab === 'programs'}">{{msg('dhis2.programs')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'trackedEntities'" ng-class="{'active': selectedTabState.selectedTab === 'trackedEntities'}">{{msg('dhis2.trackedEntities')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'trackedEntityAttributes'" ng-class="{'active': selectedTabState.selectedTab === 'trackedEntityAttributes'}">{{msg('dhis2.trackedEntityAttributes')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'orgUnits'" ng-class="{'active': selectedTabState.selectedTab === 'orgUnits'}">{{msg('dhis2.orgUnits')}}</li>
            <li ng-show="selectedTabState.selectedTab === 'dataElements'" ng-class="{'active': selectedTabState.selectedTab === 'dataElements'}">{{msg('dhis2.dataElements')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs">
            <li ng-class="{'active': selectedTabState.selectedTab === 'settings'}" ng-click="selectedTabState.selectedTab = 'settings'"><a ui-sref="dhis2.settings">{{msg('dhis2.settings')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'programs'}" ng-click="selectedTabState.selectedTab = 'programs'"><a ui-sref="dhis2.programs">{{msg('dhis2.programs')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'trackedEntities'}" ng-click="selectedTabState.selectedTab = 'trackedEntities'"><a ui-sref="dhis2.trackedEntities">{{msg('dhis2.trackedEntities')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'trackedEntityAttributes'}" ng-click="selectedTabState.selectedTab = 'trackedEntityAttributes'">
                <a ui-sref="dhis2.trackedEntityAttributes">{{msg('dhis2.trackedEntityAttributes')}}</a>
            </li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'orgUnits'}" ng-click="selectedTabState.selectedTab = 'orgUnits'"><a ui-sref="dhis2.orgUnits">{{msg('dhis2.orgUnits')}}</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'dataElements'}" ng-click="selectedTabState.selectedTab = 'dataElements'"><a ui-sref="dhis2.dataElements">{{msg('dhis2.dataElements')}}</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content" id="tab-content">
            <div id="main-content" class="active">
                <div ui-view="dhis2view"></div>
            </div>
        </div>
    </div>
</div>
