<div id="inner-center" class="metrics inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" href="home">{{msg('server.home')}}</a></li>
            <li><a role="menu" ui-sref="metrics.settings">Metrics</a></li>
            <li ng-show="selectedTabState.selectedTab === 'settings'" ng-class="{'active': selectedTabState.selectedTab === 'settings'}">Settings</li>
            <li ng-show="selectedTabState.selectedTab === 'dashboard'" ng-class="{'active': selectedTabState.selectedTab === 'dashboard'}">Metrics</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs tasks">
            <li ng-class="{'active': selectedTabState.selectedTab === 'settings'}" ng-click="selectedTabState.selectedTab = 'settings'"><a ui-sref="metrics.settings">Settings</a></li>
            <li ng-class="{'active': selectedTabState.selectedTab === 'dashboard'}" ng-click="selectedTabState.selectedTab = 'dashboard'"><a ui-sref="metrics.dashboard">Metrics</a></li>
        </ul>
    </div>
    <div class="ui-layout-content">
        <div class="tab-content" id="tab-content">
            <div id="main-content" class="active">
                <div ui-view="metricsView"></div>
            </div>
        </div>
    </div>
</div>