/* todo look for & remove unused classes */

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.sms.tab-content {
    padding-left: 0;
}

.sms.nav.nav-tabs {
    border-bottom: none;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.intro {
    padding-left: 15px;
}

.accordion-heading, .accordion-toggle {
    padding: 0 !important;
}

.accordion-heading:hover, .accordion-toggle:hover {
    text-decoration: none;
}

.accordion-inner {
    padding: 0px;
}

.stripes-bg {
    padding: 15px;
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-weight: normal;
}

.animate-repeat.ng-enter, .animate-repeat.ng-leave, .animate-repeat.ng-move {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-repeat.ng-enter {
    opacity:0;
}
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-repeat.ng-leave {
    opacity:1;
}
.animate-repeat.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-repeat.ng-move { }
.animate-repeat.ng-move.ng-move-active { }

.communication {
    min-height: 60px;
}

/* remove ugly dashed outline around focussed buttons */
/* todo: make that MOTECH-wide ? */
.btn:focus {
    outline: 0;
}

input.ng-invalid:focus {
    color: #B94A48 !important;
    border-color: #E9322D !important;
    box-shadow: 0 0 6px #F8B9B7 !important;
}

.ui-jqgrid .ui-icon-asc {
    margin-left: 1px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    padding: 1px;
    border: none;
}

.ui-jqgrid .ui-pg-button:hover {
    padding: 1px;
    border: none;
    background-image: none;
    background-color: #8ECEFE;
}

.sms legend {
    border: medium none;
    color: #165384;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 20px;
    padding: 5px;
    width: auto;
}

.sms legend + .form-group {
    margin-top: 2px;
}

.sms .btn-group > .btn.active {
    z-index: 1;
}

.ui-datepicker, #ui-timepicker-div {
    z-index: 9999 !important;
}


.ui-datepicker.ui-widget {
    font-size: 0.9em;
}

.ui-timepicker-div select {
    width: auto;
    height: 24px;
    line-height: 18px;
    padding: 1px 3px;
    margin: 0 0 0 5px;
}

.char-counter {
    color: silver;
    font-size: 8pt;
}

.panel-heading {
    cursor: pointer;
}

fieldset {
    border-top: 1px solid #B2D8F8;
    border-radius: 0;
}

.overrideJqgridTable .ui-jqgrid tr.jqgrow td {
    padding-top: 0;
    padding-bottom: 0;
}