<div ng-if="!$parent.selectedConfig" class="row inside">
    <div class="alert alert-info">
        <p>&nbsp;{{msg('commcare.alert.info.noConfigurationsDefined')}}</p>
    </div>
</div>

<div ng-show="$parent.selectedConfig" class="row">

    <div class="form-inline toolbox">
            <label class="form-group">{{msg('commcare.selectConfig')}}: </label>
            <select ng-disabled="downloadingCases" class="form-control largeCombobox" ng-model="$parent.selectedConfig" ng-options="config.name for config in $parent.configurations.configs | filterUnsavedConfig:newlyCreatedConfig">
                <option ng-if="!$parent.selectedConfig || (selectedConfig === newlyCreatedConfig)" value="">{{msg('commcare.select')}}</option>
            </select>
            <button type="button" class="form-group btn btn-default" id="commcare-case-filters">
                <i class="fa fa-filter"></i>&nbsp;{{msg('commcare.filters')}}
            </button>
    </div>

    <div ng-if="loadingError" class="connection-status connection-error alert alert-danger">
        <h4>{{msg('commcare.alert.warning')}}</h4>
        <span class="margin-left1">{{loadingError}}</span>
    </div>

    <div ng-if="selectedConfig !== newlyCreatedConfig" id="commcareCase" class="overrideJqgridTable">
        <table id="case-table" commcare-case-jqgrid="page-commcare-case-table"></table>
        <div id="page-commcare-case-table"></div>
    </div>

    <div id="case-schema-modal" class="modal fade commcare" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{msg('commcare.caseName')}}:</h4>
                </div>

                <div id="modal-body-case" class="modal-body clear"></div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        {{msg('commcare.close')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
