<div class="row">

    <div ng-show="casesError" class="connection-status connection-error alert alert-danger margin-before row">
        {{msg('commcare.error.cases')}}
    </div>

    <div id="commcareCase" class="overrideJqgridTable">
        <table id="caseTable" commcare-case-jqgrid="page-commcare-case-table"></table>
        <div id="page-commcare-case-table"></div>
    </div>

    <div id="case-schema-modal" class="modal fade commcare" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{msg('commcare.case.name')}}:</h4>
                </div>

                <div id="modal-body-case" class="modal-body"></div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">
                        {{msg('commcare.btn.close')}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
