<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 row">

        <div ng-show="formError" class="connection-status connection-error alert alert-danger">
            {{msg('commcare.error.schema')}}
        </div>

        <div ng-repeat="application in applications">

            <h4 class="margin-before2 frame-title">{{application.applicationName}}</h4>

            <div ng-repeat="module in application.modules">

                <div class="case-schema">
                    <div class="module-header">{{msg('commcare.module')}} {{$index+1}}</div>

                    <div class="case-schema-group" ng-repeat="form in module.formSchemas">

                        <div class="form-schema-group">
                            <span>{{ form.formNames["en"] }}</span>
                            <button class="btn btn-default" data-toggle="modal" href="#form-schema-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}">{{msg('commcare.view')}}</button>

                            <div id="form-schema-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}" class="modal fade commcare" tabindex="-1" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">{{msg('commcare.module')}}: <em>{{msg('commcare.module')}} {{$index+1}}</em>&nbsp;&nbsp;Form: <em>{{ form.formNames["en"] }}</em></h4>
                                        </div>

                                        <div class="modal-body">
                                            <p>{{msg('commcare.form.questions')}}:</p>
                                            <table class="table table-striped">
                                                <tbody>
                                                <tr ng-repeat="question in form.questions">
                                                    <td class="question">{{question.questionLabel}}</td>
                                                    <td class="questionData">
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <td>{{msg('commcare.form.question.repeat')}}</td>
                                                                <td>{{question.questionRepeat}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{msg('commcare.form.question.tag')}}</td>
                                                                <td>{{question.questionTag}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{msg('commcare.form.question.value')}}</td>
                                                                <td>{{question.questionValue}}</td>
                                                            </tr>
                                                            <table ui-if="question.options.length" class="table table-bordered">
                                                                <tr>
                                                                    <th>{{msg('commcare.form.option.label')}}</th>
                                                                    <th>{{msg('commcare.form.option.value')}}</th>
                                                                </tr>
                                                                <tr ng-repeat="option in question.options">
                                                                    <td>{{option.label}}</td>
                                                                    <td>{{option.value}}</td>
                                                                </tr>
                                                            </table>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal">
                                                {{msg('commcare.btn.close')}}
                                            </button>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <button class="btn btn-default" data-toggle="modal" href="#form-schema-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}-json">{{msg('commcare.json')}}</button>

                            <div id="form-schema-{{$parent.$parent.$index}}-{{$parent.$index}}-{{$index}}-json" class="modal fade commcare schema" tabindex="-1" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">{{msg('commcare.module')}}: <em>{{msg('commcare.module')}} {{$index+1}}</em>&nbsp;&nbsp;Form: <em>{{ form.formNames["en"] }}</em></h4>
                                        </div>
                                        <div class="modal-body">
                                            <pre>{{formatJson(form)}}</pre>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal">
                                                {{msg('commcare.btn.close')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </fieldset>

            </div>
        </div>
    </div>

</div>
