<div ng-if="!selectedConfig" class="row inside">
    <div class="alert alert-info">
        <p>&nbsp;{{msg('commcare.alert.info.noConfigurationsDefined')}}</p>
    </div>
</div>

<div ng-if="selectedConfig" class="">
    <div class="form-horizontal">
        <div class="form-group toolbox">
            <label class="col-lg-2 col-md-3 col-sm-4 control-label">{{msg('commcare.selectConfig')}}: </label>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <select class="form-control input-auto" ng-change="updateImportRequest('config', $parent.selectedConfig.name)" ng-model="$parent.selectedConfig" ng-options="config.name for config in $parent.configurations.configs | filterUnsavedConfig:newlyCreatedConfig">
                    <option ng-if="!$parent.selectedConfig || (selectedConfig === newlyCreatedConfig)" value="">{{msg('commcare.select')}}</option>
                </select>
            </div>
        </div>
    </div>

    <div ng-if="formError" class="connection-status connection-error alert alert-danger">
        <h4>{{msg('commcare.alert.warning')}}</h4>
        <span class="margin-left1">{{msg('commcare.error.schema')}}</span>
    </div>

    <div class="">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label">{{msg('commcare.formsToImport')}}: </label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <div id="selectImportOption" class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{msg('commcare.' + selectedImportOption)}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-model="selectedImportOption" ng-repeat="option in importOptions">
                                <a ng-click="setImportOption($index)">
                                    {{msg('commcare.' + option)}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="byDateRange" class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label">{{msg('commcare.startDateTime')}}: </label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <input id="commcareDateTimeFrom" ng-model="receivedOnStart" import-date-time-picker-from type="datetime" placeholder="{{msg('commcare.from')}}" class="form-control input-large-fluid">
                </div>
            </div>
            <div ng-show="byDateRange" class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label">{{msg('commcare.endDateTime')}}: </label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <input id="commcareDateTimeTo" ng-model="receivedOnEnd" import-date-time-picker-to type="datetime" placeholder="{{msg('commcare.to')}}" class="form-control input-large-fluid">
                </div>
            </div>
            <div ng-show="byFormId" class="form-group">
                <label class="col-lg-2 col-md-3 col-sm-4 control-label">{{msg('commcare.formId')}}: </label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <input id="commcareFormId" ng-model="formId" ng-change="updateImportRequest('formId', formId)" placeholder="{{msg('commcare.formId')}}" class="form-control input-large-fluid">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-lg-10 col-md-9 col-sm-8">
                    <button ng-click="importFormsStart()" class="btn btn-primary">{{msg('commcare.importForms')}}</button>
                </div>
            </div>
        </form>
    </div>

    <div id="importCompleteAlert" ng-show="importFormsComplete" class="form-group">
        <div class="alert alert-success">
            <p>{{msg('commcare.importComplete')}}</p>
        </div>
    </div>

    <div id="importCommcareForms" class="commcare modal fade" tabindex="-1" role="dialog" aria-labelledby="importCommcareForms" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-hide="importInProgress" ng-click="closeImportForms()">&times;</button>
                    <h4 class="modal-title" id="importInstanceModalLabel">{{msg('commcare.importForms')}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="!statusError && !importFormsProgressShow && byFormId">
                        <div>{{msg('commcare.import.formById',formId)}}</div>
                    </div>
                    <div ng-show="!statusError && !importFormsProgressShow && !initImportComplete" class="form-group">
                        <div><img ng-hide="totalForms &gt; 0" alt="loading" src="./../../static/common/img/load.gif">&nbsp;<strong></strong>&nbsp{{msg('commcare.retrievingForms')}}</div>
                    </div>
                    <div ng-show="!statusError && totalForms &gt; 0 && initImportComplete && !(importFormsProgressShow || importInProgress) && !byFormId" class="form-group">
                        <div><strong>{{totalForms}}</strong>&nbsp{{msg('commcare.formsWillImported')}}</div>
                    </div>
                    <div ng-show="!statusError && totalForms &gt; 0 && initImportComplete && !(importFormsProgressShow || importInProgress) && byFormId" class="form-group">
                        <div><strong>{{totalForms}}</strong>&nbsp{{msg('commcare.formWillImported')}}</div>
                    </div>
                    <div ng-show="!statusError && totalForms &lt; 1 && initImportComplete && !(importFormsProgressShow || importInProgress) && !byFormId" class="form-group">
                        <div>{{msg('commcare.noFormsToImport')}}</div>
                    </div>
                    <div ng-show="!statusError && totalForms &lt; 1 && initImportComplete && !(importFormsProgressShow || importInProgress) && byFormId" class="form-group">
                        <div>{{msg('commcare.noFormToImport')}}</div>
                    </div>
                    <div ng-show="totalForms &gt; 0 && importInProgress" class="form-group">
                        <div class="margin-after">{{msg('commcare.formImport.imported', formsImported, totalForms)}}</div>
                        <div class="progress" ng-if="importFormsProgressShow">
                            <div id="commcareImportPercentage" class="progress-bar progress-bar-striped active" style="min-width: 2em; width: 0%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                        </div>
                    </div>
                    <div ng-show="statusError" class="form-group">
                        <div class="alert alert-danger">
                            <h4>{{commcare.error}}</h4>
                            <p>{{msg('commcare.import.error', errorMsg)}}</p>
                            <p ng-show="lastFormId">{{msg('commcare.import.formId', lastFormId)}}</p>
                            <p ng-show="lastReceivedOn">{{msg('commcare.import.receivedOn', lastReceivedOn)}}</p>
                            <p ng-show="lastReceivedOn">{{msg('commcare.import.retry', lastReceivedOn)}}</p>
                        </div>
                    </div>
                </div>
                <div ng-show="!statusError" class="modal-footer">
                    <button class="btn btn-primary" ng-click="importFormsContinue()" ng-disabled="totalForms &lt; 1 || importInProgress">{{msg('commcare.startImport')}}</button>
                    <button class="btn btn-default" ng-click="closeImportForms()" ng-disabled="importInProgress">{{msg('commcare.cancel')}}</button>
                </div>
                <div ng-show="statusError" class="modal-footer">
                    <button class="btn btn-primary" ng-click="closeImportForms()">{{msg('commcare.ok')}}</button>
                </div>
            </div>
        </div>
    </div>

</div>