<div id="campaignValidationErrorModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="campaignValidationErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="campaignValidationErrorModalLabel">{{msg('msgCampaign.campaign.ValidationError')}}</h4>
            </div>
            <div class="modal-body">
                {{msg('msgCampaign.campaign.invalidMessages')}}
                <ul>
                    <div class="margin-left2" ng-repeat="message in invalidMessages">
                        <li>{{message.name}} - {{message.messageKey}}</li>
                    </div>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">
                    {{msg('msgCampaign.btn.ok')}}
                </button>
            </div>
        </div>
    </div>
</div>