<div class="row">
    <div class="form-inline toolbox">

        <div class="form-inline form-group">
            <label>{{msg('openMRS.selectConfig')}}: </label>
            <select class="largeCombobox form-control" ng-change="selectChanged()" ng-model="selectedConfig" ng-options="config.name for config in configs.configs">
            </select>
        </div>

        <div class="btn-group form-group">
            <a ng-click="addConfig()" type="button" class="form-group btn btn-success">
                <i class="fa fa-plus"></i>{{msg('openMRS.addConfig')}}
            </a>
            <a ng-if="selectedConfig" ng-disabled="!saveAllowed()" ng-click="saveAllowed() && saveConfig()" type="button" class="btn btn-primary">
                <i class="fa fw fa-save"></i>{{msg('openMRS.save')}}
            </a>
            <a ng-if="selectedConfig" ng-disabled="!deleteAllowed()" ng-click="deleteAllowed() && deleteConfig()" type="button" class="btn btn-danger input-small">
                <i class="fa fa-fw fa-trash-o"></i>{{msg('openMRS.delete')}}
            </a>
            <a ng-if="selectedConfig" ng-disabled="isDefault()"  ng-click="!isDefault() && makeDefault()" type="button" class="btn btn-default">
                <i class="fa fw" ng-class="{'fa-square-o': !isDefault(), 'fa-check-square-o': isDefault()}"></i>{{msg('openMRS.makeDefault')}}
            </a>
        </div>
        </div>
    <form ng-if="selectedConfig" class="commcare inside form-horizontal" novalidate>
        <div class="row inside form-group">
            <h4 class="inside form-group">{{msg('openMRS.config')}}</h4>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 control-label" for="name">{{msg('openMRS.config.name')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-change="draftChanged()" ng-model="selectedConfig.name" type="text" id="name" />
                </div>
                <label class="col-md-3 col-sm-4 control-label" for="url">{{msg('openMRS.config.url')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-change="draftChanged()" ng-model="selectedConfig.openMrsUrl" type="text" id="url" />
                </div>
                <label class="col-md-3 col-sm-4 control-label" for="username">{{msg('openMRS.config.username')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-change="draftChanged()" ng-model="selectedConfig.username" type="text" id="username" />
                </div>
                <label class="col-md-3 col-sm-4 control-label" for="password">{{msg('openMRS.config.password')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-change="draftChanged()" ng-model="selectedConfig.password" type="password" id="password" />
                </div>
                <label class="col-md-3 col-sm-4 control-label" for="motechID">{{msg('openMRS.config.motechID')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-change="draftChanged()" ng-model="selectedConfig.motechPatientIdentifierTypeName" type="text" id="motechID" />
                </div>
                <div ng-if="selectedConfig.patientIdentifierTypeNames.length >= 1">
                <label class="col-md-3 col-sm-4 control-label" >
                    {{msg('openMRS.config.patientIdentifierTypes')}}
                </label>
                <div class="col-md-9 col-sm-8 form-inline">
                <ul ng-repeat="patientIdentifierTypeName in selectedConfig.patientIdentifierTypeNames">
                    <li type="text">
                    {{patientIdentifierTypeName}}
                    <a type="button" ng-click="removePatientIdentifierType(patientIdentifierTypeName)" class="btn btn-danger input-small">
                        <i class="fa fa-times"></i>{{msg('openMRS.delete')}}</a>
                    </li>
                </ul>
                </div>
                </div>
                <label class="col-md-3 col-sm-4 control-label" for="newPatientIdentifierType">{{msg('openMRS.config.patientIdentifierType')}}</label>
                <div class="col-md-9 col-sm-8 form-inline">
                    <input class="form-control input-xlarge-fluid" ng-model="newPatientIdentifierType.name" type="text" id="newPatientIdentifierType"/>
                    <a type="button" ng-click="addPatientIdentifierType()" class="btn btn-default">
                        {{msg('openMRS.addPatientIdentifierType')}}</a>
                </div>
            </div>
        </div>
    </form>
</div>
