.cms-lite .count-characters {
    border-top: 1px solid #eeeeee;
    padding: 5px 20px 14px 0;
    font-size:0.9em;
}

.cms-lite .fileinput .uneditable-input,
.cms-lite .fileinput .btn.btn-file,
.cms-lite .fileinput a.fileinput-exists {
    margin-bottom: 5px;
    overflow-x: hidden;
}

.ui-autocomplete {
    z-index: 9999;
}