<div class="row">
    <h4 class="frame-title">{{msg('ivr.web.settings.title')}}</h4>
    <div class="inside">

        <div class="alert alert-danger alert-block" ng-show="configs.length <= 0">
            {{msg('ivr.web.settings.noConfigError')}}
        </div>
        <div ng-show="errors.length > 0">
            <div class="alert alert-error alert-block" ng-repeat="error in errors" ng-cloak>
                {{error}}
            </div>
        </div>
        <div ng-repeat="message in messages" class="alert alert-success alert-block animate-repeat">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="addConfig()"><i class="icon-plus icon-white"></i>
                {{msg('ivr.web.settings.addConfig')}}
            </button>
        </div>

        <form name="form" class="form-horizontal inside" novalidate>

            <div class="row">
                <div class="panel-group">
                    <div class="panel panel-default ivr-config" ng-repeat="conf in configs">
                        <div class="panel-heading" ng-click="accordions[$index] = !accordions[$index]">
                            {{conf.name}}
                            <i ng-class="{'icon-chevron-down': accordions[$index], 'icon-chevron-right': !accordions[$index]}" class="icon-fixed-width icon-large pointer"></i>
                        </div>
                        <div id="panel{{$index}}" class="panel-collapse collapse" ng-class="{true:'in', false:''}[accordions[$index]]">

                            <div class="form-group margin-before2" ng-class="{'has-error': !conf.name || dupeNames[$index]}">
                                <label class="col-md-3 control-label">{{msg('ivr.web.settings.configName')}}</label>
                                <div class="col-md-3" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.configName.tooltip')}}">
                                    <input type="text" class="form-control" ng-model="conf.name" required ng-focus="accordions[$index]" ng-change="keepDefaultConfig(); checkForDuplicateNames($index);">
                                    <span ng-hide="conf.name" class="form-hint form-hint-bottom">{{msg('ivr.web.required_field')}}</span>
                                    <span ng-show="dupeNames[$index]" class="form-hint form-hint-bottom">{{msg('ivr.web.settings.duplicateConfigName')}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="authRequired{{$index}}">{{msg('ivr.web.settings.authRequired')}}</label>
                                <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.authRequired.tooltip')}}">
                                    <label>
                                        <input type="checkbox" id="authRequired{{$index}}" ng-model="conf.authRequired"/>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" ng-show="conf.authRequired">
                                <label class="col-md-3 control-label">{{msg('ivr.web.settings.credentials')}}</label>
                                <div class="col-md-4" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.username.tooltip')}}">
                                    <input type="text" class="form-control" id="username{{$index}}" ng-model="conf.username" placeholder="{{msg('ivr.web.settings.username')}}"/>
                                </div>

                                <div class="col-md-4" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.password.tooltip')}}">
                                    <input type="password" class="form-control" id="password{{$index}}" ng-model="conf.password" placeholder="{{msg('ivr.web.settings.password')}}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="outgoingCallUriTemplate{{$index}}">{{msg('ivr.web.settings.outgoingCallUriTemplate')}}</label>
                                <div class="col-md-8" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.outgoingCallUriTemplate.tooltip')}}">
                                    <textarea spellcheck="false" class="form-control" id="outgoingCallUriTemplate{{$index}}" type="text" ng-model="conf.outgoingCallUriTemplate" rows="2"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{msg('ivr.web.settings.outgoingCallMethod')}}</label>
                                <div class="col-md-3" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.outgoingCallMethod.tooltip')}}">
                                    <label class="radio-inline" for="outgoingCallMethodGet{{$index}}">
                                        <input name="outgoingCallMethod{{$index}}" id="outgoingCallMethodGet{{$index}}" type="radio" ng-model="conf.outgoingCallMethod" value="GET">
                                        GET
                                    </label>
                                    <label class="radio-inline" for="outgoingCallMethodPost{{$index}}">
                                        <input name="outgoingCallMethod{{$index}}" id="outgoingCallMethodPost{{$index}}" type="radio" ng-model="conf.outgoingCallMethod" value="POST">
                                        POST
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ignoredStatusFields{{$index}}">{{msg('ivr.web.settings.ignoredStatusFields')}}</label>
                                <div class="col-md-8" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.ignoredStatusFields.tooltip')}}">
                                    <input class="form-control small-mono" id="ignoredStatusFields{{$index}}" type="text" ng-model="conf.ignoredStatusFields" ng-list=",">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="statusFieldMap{{$index}}">{{msg('ivr.web.settings.statusFieldMap')}}</label>
                                <div class="col-md-8" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.statusFieldMap.tooltip')}}">
                                    <input class="form-control small-mono" id="statusFieldMap{{$index}}" type="text" ng-pattern="/^(\s*\w*\s*:\s*\w*\s*)?(,\s*\w*\s*:\s*\w*\s*)*$/" ng-model="conf.statusFieldMapString">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="statusFieldMap{{$index}}">{{msg('ivr.web.settings.servicesMap')}}</label>
                                <div class="col-md-8" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.servicesMap.tooltip')}}">
                                    <input class="form-control small-mono" id="servicesMap{{$index}}" type="text" ng-pattern="/^(\s*\w*\s*:\s*[\w\.]*\s*)?(,\s*\w*\s*:\s*[\w\.]*\s*)*$/" ng-model="conf.servicesMapString">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="jsonResponse{{$index}}">{{msg('ivr.web.settings.jsonResponse')}}</label>
                                <div class="col-md-1" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.jsonResponse.tooltip')}}">
                                    <label>
                                        <input id="jsonResponse{{$index}}" type="checkbox" ng-model="conf.jsonResponse"/>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" ng-show="conf.jsonResponse">
                                <label class="col-md-3 control-label" for="jsonExtraParamsList{{$index}}">{{msg('ivr.web.settings.jsonExtraParamsList')}}</label>
                                <div class="col-md-8" data-toggle="tooltip" data-placement="top" data-trigger="hover" bs-popover="{{msg('ivr.web.settings.jsonExtraParamsList.tooltip')}}">
                                    <input class="form-control small-mono" id="jsonExtraParamsList{{$index}}" type="text" ng-model="conf.jsonExtraParamsList" ng-list=",">
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-sm btn-danger" ng-click="deleteConfig($index)"> <i class="icon-trash"></i> {{msg('ivr.web.settings.delete')}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="form-inline" ng-show="isDirty()">
                        <button class="btn btn-default" ng-click="reset()">{{msg('ivr.web.settings.cancel')}}</button>
                        <button class="btn btn-primary" ng-disabled="!form.$valid || anyDuplicateNames()" ng-click="submit()">{{msg('ivr.web.settings.save')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
