<div ng-controller='TestCallController'>
    <div class="row tab-frame">
        <div class="col-lg-9 col-md-12 col-sm-12">

            <div class="alert alert-danger margin-before" ng-show='providers.length == 0'>
                <strong>{{msg('ivr.no.providers.message')}}</strong>
            </div>

            <form class="form-horizontal margin-before2" ng-submit='makeCall(call)'>
                <div class="form-group">
                    <label class="col-md-2 col-sm-3 control-label">{{msg('ivr.number.label')}}</label>
                    <div class="col-md-10 col-sm-9">
                        <input class="form-control input-auto" type='text' ng-model='call.phoneNumber' required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-3 control-label">{{msg('ivr.provider.label')}}</label>
                    <div class="col-md-10 col-sm-9">
                        <select class="form-control input-auto" ng-model='call.provider' ng-options='provider.name as provider.name for provider in providers' required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9">
                        <input type='submit' class='btn btn-default' value='Dial'/>

                        <span ng-show='dialed == true' class='text-info'>
                            &nbsp;&nbsp;{{msg('ivr.dial.success.message')}}
                        </span>
                        <span ng-show='dialed == false' class='text-danger'>
                            &nbsp;&nbsp;{{msg('ivr.dial.failed.message')}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
