<div class="row">

    <div id="operations-resource" class="frame-title">
        <div class="btn-group pull-right">
            <button type="button" ng-click="showNewResourceModal()" class="btn btn-success">
                <i class="fa fa-plus"></i>&nbsp;{{msg('cmslite.button.newResource')}}
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="cmslite-resource-filters">
                <i class="fa fa-filter"></i>&nbsp;{{msg('cmslite.resource.filters')}}
            </button>
        </div>
    </div>

    <div id="outside-cms-lite-table" class="overrideJqgridTable">
        <table id="cms-lite-table" cms-lite-grid="page-cms-lite-table"></table>
        <div id="page-cms-lite-table"></div>
    </div>

    <div ng-include="'../cmsliteapi/resources/partials/widgets/new-resource-modal.html'"></div>
    <div ng-include="'../cmsliteapi/resources/partials/widgets/string-resource-modal.html'"></div>
    <div ng-include="'../cmsliteapi/resources/partials/widgets/stream-resource-modal.html'"></div>
</div>