<div id="inner-center" class="mtraining inner-center ui-layout-center ui-layout-pane ui-layout-pane-center">
    <div class="header-footer-breadcrumb">
        <ul class="breadcrumb" role="navigation">
            <li><a role="menu" href=".">{{msg('server.home')}}</a></li>
            <li><a role="menu" href="#/mtraining/treeView">{{msg('mtraining')}}</a></li>
            <li ng-show="selectedTabState.selectedTab === 'treeView'" ng-class="{'active': selectedTabState.selectedTab === 'treeView'}">{{msg('mtraining.treeView')}}</li>
        </ul>
    </div>
    <div class="header-footer">
        <ul id="content-tabs" class="nav nav-tabs">
            <li ng-class="{'active': selectedTabState.selectedTab === tab}"
                ng-click="selectedTabState.selectedTab = tab"
                ng-repeat="tab in MTRAINING_AVAILABLE_TABS">
                <a href="#/mtraining/{{tab}}">
                    {{msg('mtraining.' + tab)}}
                </a>
            </li>
        </ul>
    </div>

    <div tab-layout-with-mds-grid></div>
</div>

<div embedded-mds-filters></div>